.feedback_btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
    margin-bottom: 40px;
}

.btn {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #7d3883;
    color: #f5edf7;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
}